html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;

    height: 100vh;
}

li {
    display: inline;
}

html {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

ul {
    padding: 0;
}